In [1]:
data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
       }
data

{'縣市': ['台北', '台北', '台北', '新竹', '新竹', '新竹'],
 '年份': [2000, 2001, 2002, 2001, 2002, 2003],
 '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]}

In [2]:
import pandas as pd
frame = pd.DataFrame(data)
frame

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0