In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  1.326794 -1.401049
1    a  two -0.399368 -0.693662
2    b  one -0.223102 -0.975317
3    b  two -0.156255 -0.791525
4    a  one  2.214862  0.764360

In [11]:
grouped=df['data1'].groupby(df['key1'])

In [12]:
grouped.mean()

key1
a    1.047429
b   -0.189678
Name: data1, dtype: float64