In [4]:
#Series的多階層
import numpy as np
import pandas as pd
s1 = pd.Series(np.random.randn(9),
               index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                      [1, 2, 3, 1, 2, 3, 1, 2, 3]])
s1

a  1    0.602808
   2    1.485259
   3    1.234966
b  1   -0.167504
   2    0.253652
c  3    0.146372
   1   -1.219057
d  2    0.835443
   3   -1.806336
dtype: float64

In [5]:
s1.unstack()

          1         2         3
a  0.602808  1.485259  1.234966
b -0.167504  0.253652       NaN
c -1.219057       NaN  0.146372
d       NaN  0.835443 -1.806336

In [9]:
s1.unstack(level=0)

          a         b         c         d
1  0.602808 -0.167504 -1.219057       NaN
2  1.485259  0.253652       NaN  0.835443
3  1.234966       NaN  0.146372 -1.806336

In [12]:
s1.index.names = ['階層1','階層2']
s1

階層1  階層2
a    1      0.602808
     2      1.485259
     3      1.234966
b    1     -0.167504
     2      0.253652
c    3      0.146372
     1     -1.219057
d    2      0.835443
     3     -1.806336
dtype: float64

In [13]:
s1.unstack(level='階層2')

階層2         1         2         3
階層1
a    0.602808  1.485259  1.234966
b   -0.167504  0.253652       NaN
c   -1.219057       NaN  0.146372
d         NaN  0.835443 -1.806336