In [2]:
import numpy as np
import pandas as pd

dataFrame = pd.DataFrame(np.random.randn(4,3),
             columns=['b','d','e'],
             index=['台北','台中','台南','高雄'])
dataFrame

           b         d         e
台北  1.554299 -2.482894  1.164447
台中 -0.189859 -0.220118  0.624572
台南  0.424321 -2.508107  0.978221
高雄  0.961770 -0.795811 -0.055529

In [3]:
np.abs(dataFrame)

           b         d         e
台北  1.554299  2.482894  1.164447
台中  0.189859  0.220118  0.624572
台南  0.424321  2.508107  0.978221
高雄  0.961770  0.795811  0.055529

In [6]:
display(dataFrame.max())
dataFrame.max(axis=1)

b    1.554299
d   -0.220118
e    1.164447
dtype: float64

台北    1.554299
台中    0.624572
台南    0.978221
高雄    0.961770
dtype: float64

In [7]:
display(dataFrame.min())
dataFrame.min(axis=1)

b   -0.189859
d   -2.508107
e   -0.055529
dtype: float64

台北   -2.482894
台中   -0.220118
台南   -2.508107
高雄   -0.795811
dtype: float64