In [1]:
import pandas as pd
s1 = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
s1

d    0
a    1
b    2
c    3
dtype: int64

In [3]:
s1.sort_index()
s1.sort_index(ascending=False)

d    0
c    3
b    2
a    1
dtype: int64

In [12]:
# dataFrame 排序
import numpy as np

dataFrame1 = pd.DataFrame(np.arange(8).reshape((2,4)),
             index=["three", "one"],
             columns=["d", "a", "b", "c"])
dataFrame1.sort_index(axis=1)
dataFrame1.sort_index(axis=1,ascending=False)
dataFrame1.sort_values(by='d',ascending=False)
dataFrame1.sort_values(by='one',axis=1,ascending=False)

       c  b  a  d
three  3  2  1  0
one    7  6  5  4