In [12]:
#搜尋值
import pandas as pd
dataFrame1 = pd.read_csv('學生成績表1.csv')
dataFrame1.index = dataFrame1['姓名']
dataFrame2 = dataFrame1.drop(columns='姓名')
dataFrame2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 葉志峰 to 王雅慧
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   國文      50 non-null     int64
 1   英文      50 non-null     int64
 2   數學      50 non-null     int64
 3   地理      50 non-null     int64
 4   歷史      50 non-null     int64
dtypes: int64(5)
memory usage: 2.3+ KB

In [11]:
#國文成績不及格的,subscript
dataFrame2[dataFrame2['國文'] < 60]

     國文   英文  數學  地理   歷史
姓名
黃嘉琪  58   60  89  69   76
林佳光  55   85  98  97   77
張牧聿  58   52  66  61   89
馬彥文  59   71  85  53   65
黃健發  55   84  98  86   87
陳淑娟  58  100  90  80   71
林珍旺  53   82  72  79  100
吳麗卿  58   94  55  72   72
王泓泰  56   55  84  72   66
王雅慧  50   76  97  57   79
鍾俞禎  58   97  50  85   83
溫重意  57   50  58  91   57
張明惟  58   61  60  60   93

In [13]:
#國文成績不及格的,使用query
dataFrame2.query('國文<60')

     國文   英文  數學  地理   歷史
姓名
黃嘉琪  58   60  89  69   76
林佳光  55   85  98  97   77
張牧聿  58   52  66  61   89
馬彥文  59   71  85  53   65
黃健發  55   84  98  86   87
陳淑娟  58  100  90  80   71
林珍旺  53   82  72  79  100
吳麗卿  58   94  55  72   72
王泓泰  56   55  84  72   66
王雅慧  50   76  97  57   79
鍾俞禎  58   97  50  85   83
溫重意  57   50  58  91   57
張明惟  58   61  60  60   93

In [14]:
#國文成績或者英文不及格的,subscript
dataFrame2[(dataFrame2['國文'] < 60) | (dataFrame2['英文'] < 60)]

     國文   英文  數學   地理   歷史
姓名
黃嘉琪  58   60  89   69   76
林佳光  55   85  98   97   77
張牧聿  58   52  66   61   89
馬彥文  59   71  85   53   65
黃健發  55   84  98   86   87
陳淑娟  58  100  90   80   71
林珍旺  53   82  72   79  100
郎慧萍  65   51  50   62   83
吳麗卿  58   94  55   72   72
王泓泰  56   55  84   72   66
鄭奇翰  80   57  85   56   63
陳淑娟  95   51  60   93   88
王雅慧  50   76  97   57   79
劉嘉泰  96   57  55   71   95
藍哲嘉  84   51  99  100   65
呂傑宣  85   52  77   64   82
鍾俞禎  58   97  50   85   83
溫重意  57   50  58   91   57
張明惟  58   61  60   60   93

In [15]:
#國文成績和英文同時不及格的,subscript
dataFrame2[(dataFrame2['國文'] < 60) & (dataFrame2['英文'] < 60)]

     國文  英文  數學  地理  歷史
姓名
張牧聿  58  52  66  61  89
王泓泰  56  55  84  72  66
溫重意  57  50  58  91  57

In [16]:
#國文成績或者英文不及格的,query()
dataFrame2.query('國文<60 or 英文<60')

     國文   英文  數學   地理   歷史
姓名
黃嘉琪  58   60  89   69   76
林佳光  55   85  98   97   77
張牧聿  58   52  66   61   89
馬彥文  59   71  85   53   65
黃健發  55   84  98   86   87
陳淑娟  58  100  90   80   71
林珍旺  53   82  72   79  100
郎慧萍  65   51  50   62   83
吳麗卿  58   94  55   72   72
王泓泰  56   55  84   72   66
鄭奇翰  80   57  85   56   63
陳淑娟  95   51  60   93   88
王雅慧  50   76  97   57   79
劉嘉泰  96   57  55   71   95
藍哲嘉  84   51  99  100   65
呂傑宣  85   52  77   64   82
鍾俞禎  58   97  50   85   83
溫重意  57   50  58   91   57
張明惟  58   61  60   60   93

In [17]:
#國文成績和英文同時不及格的,query()
dataFrame2.query('國文<60 and 英文<60')

     國文  英文  數學  地理  歷史
姓名
張牧聿  58  52  66  61  89
王泓泰  56  55  84  72  66
溫重意  57  50  58  91  57