In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

grouped = df.groupby(by='key1')
grouped

In [2]:
#透過for in grouped實體,觀察groupby實體的內容
for name,group in grouped:
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -0.959814  1.232217
1    a  two  0.297104 -0.095121
4    a  one  1.687001 -0.161905
b
  key1 key2     data1     data2
2    b  one -1.133253 -0.370956
3    b  two  0.296698 -0.423432

In [3]:
grouped1 = df.groupby(by=['key1','key2'])
for name,group in grouped1:
    print(name)
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one -0.959814  1.232217
4    a  one  1.687001 -0.161905
('a', 'two')
  key1 key2     data1     data2
1    a  two  0.297104 -0.095121
('b', 'one')
  key1 key2     data1     data2
2    b  one -1.133253 -0.370956
('b', 'two')
  key1 key2     data1     data2
3    b  two  0.296698 -0.423432

In [4]:
#透過dict(list(grouped))實體,透過key,取出資料
df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

grouped = df.groupby(by='key1')
dict1 = dict(list(grouped))

In [5]:
display(dict1['a'])

  key1 key2     data1     data2
0    a  one -0.155497  0.131770
1    a  two -0.982889  0.397807
4    a  one -0.007054 -1.343827

In [6]:
display(dict1['b'])

  key1 key2     data1     data2
2    b  one -0.772917 -1.022149
3    b  two  0.997851  0.307716