In [1]:
import numpy as np
import pandas as pd

s1 = pd.Series([4.5, 7.2, -5.3, 3.6],index=['d','b','a','c'])
s1

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [2]:
#選取使用subscript
s1[['a','b']]

a   -5.3
b    7.2
dtype: float64

In [3]:
#選取使用reindex()
s1.reindex(['a','b'])

a   -5.3
b    7.2
dtype: float64

In [6]:
dataFrame1 = pd.DataFrame(np.arange(9).reshape((3,3)),
             index=['a','c','d'],
             columns=['台北', '台中', '高雄']
             )
dataFrame1

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8

In [7]:
#使用loc[],subscript
dataFrame1.loc[['a','c']]

   台北  台中  高雄
a   0   1   2
c   3   4   5

In [8]:
#使用reindex()
dataFrame1.reindex(index=['a', 'c'])

   台北  台中  高雄
a   0   1   2
c   3   4   5

In [9]:
#使用[],subscript
dataFrame1[['台北','台中']]

   台北  台中
a   0   1
c   3   4
d   6   7

In [10]:
#使用reindex()
dataFrame1.reindex(columns=['台北','台中'])

   台北  台中
a   0   1
c   3   4
d   6   7