In [1]:
#相關係數(correlation)
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = {'年廣告費投入':[12.5, 15.3, 23.2, 26.4, 33.5, 34.4, 39.4, 45.2, 55.4, 60.9],
        '月均銷售額':[21.2, 23.9, 32.9, 34.1, 42.5, 43.2, 49.0, 52.8, 59.4, 63.5]}
dataFrame = pd.DataFrame(data,
                         index=[2011,2012,2013,2014,2015,2016,2017,2018,2019,2020])
dataFrame

      年廣告費投入  月均銷售額
2011    12.5   21.2
2012    15.3   23.9
2013    23.2   32.9
2014    26.4   34.1
2015    33.5   42.5
2016    34.4   43.2
2017    39.4   49.0
2018    45.2   52.8
2019    55.4   59.4
2020    60.9   63.5

In [3]:
dataFrame['年廣告費投入'].corr(dataFrame['月均銷售額'])

0.9941983762371884