In [2]:
import numpy as np
import pandas as pd

dataFrame = pd.DataFrame(np.random.randn(4,3),
             columns=['b','d','e'],
             index=['台北','台中','台南','高雄'])
dataFrame

           b         d         e
台北  1.554299 -2.482894  1.164447
台中 -0.189859 -0.220118  0.624572
台南  0.424321 -2.508107  0.978221
高雄  0.961770 -0.795811 -0.055529

In [3]:
np.abs(dataFrame)

           b         d         e
台北  1.554299  2.482894  1.164447
台中  0.189859  0.220118  0.624572
台南  0.424321  2.508107  0.978221
高雄  0.961770  0.795811  0.055529

In [6]:
display(dataFrame.max())
dataFrame.max(axis=1)

b    1.554299
d   -0.220118
e    1.164447
dtype: float64

台北    1.554299
台中    0.624572
台南    0.978221
高雄    0.961770
dtype: float64

In [7]:
display(dataFrame.min())
dataFrame.min(axis=1)

b   -0.189859
d   -2.508107
e   -0.055529
dtype: float64

台北   -2.482894
台中   -0.220118
台南   -2.508107
高雄   -0.795811
dtype: float64

In [8]:
def func1(series:pd.Series)->pd.Series:
    return series + 10

dataFrame.apply(func1)

            b         d          e
台北  11.554299  7.517106  11.164447
台中   9.810141  9.779882  10.624572
台南  10.424321  7.491893  10.978221
高雄  10.961770  9.204189   9.944471

In [10]:
def func2(series:pd.Series)->float:
    return series.max() - series.min()

display(dataFrame.apply(func2))
dataFrame.apply(func2,axis=1)

b    1.744158
d    2.287989
e    1.219976
dtype: float64

台北    4.037193
台中    0.844691
台南    3.486329
高雄    1.757581
dtype: float64

In [12]:
def func3(series:pd.Series)->pd.Series:
    data = [series.max(),series.min(),series.max()-series.min()]
    s = pd.Series(data,index=["最大","最小","最大-最小"])
    return s

dataFrame.apply(func3)

              b         d         e
最大     1.554299 -0.220118  1.164447
最小    -0.189859 -2.508107 -0.055529
最大-最小  1.744158  2.287989  1.219976