In [11]:
import pandas as pd 
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=['b', 'd', 'e'],
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北  1.128405  1.021322 -1.403477
台中  1.399130 -0.262653  0.387163
台南 -0.819517 -1.142126 -0.602586
高雄 -0.786228 -1.110810  0.852658

In [12]:
np.abs(frame)

           b         d         e
台北  1.128405  1.021322  1.403477
台中  1.399130  0.262653  0.387163
台南  0.819517  1.142126  0.602586
高雄  0.786228  1.110810  0.852658

In [13]:
frame.abs()

           b         d         e
台北  1.128405  1.021322  1.403477
台中  1.399130  0.262653  0.387163
台南  0.819517  1.142126  0.602586
高雄  0.786228  1.110810  0.852658

In [14]:
display(frame.loc['台北'])
for item in frame.loc['台北']:
    print(item)

b    1.128405
d    1.021322
e   -1.403477
Name: 台北, dtype: float64

1.1284049729924497
1.0213223671968779
-1.4034771459110693

In [15]:
for items in frame:
    print(items)

b
d
e

In [21]:
display(frame)
frame.loc['台北'].sum()
frame.loc['台中'].sum()
frame.loc['台南'].sum()
frame.loc['高雄'].sum()
frame['b'].sum()
frame['d'].sum()
frame['e'].sum()

           b         d         e
台北  1.128405  1.021322 -1.403477
台中  1.399130 -0.262653  0.387163
台南 -0.819517 -1.142126 -0.602586
高雄 -0.786228 -1.110810  0.852658

-0.7662414808570109

In [23]:
display(frame)
display(frame.sum())
display(frame.sum(axis=1))

           b         d         e
台北  1.128405  1.021322 -1.403477
台中  1.399130 -0.262653  0.387163
台南 -0.819517 -1.142126 -0.602586
高雄 -0.786228 -1.110810  0.852658

b    0.921790
d   -1.494267
e   -0.766241
dtype: float64

台北    0.746250
台中    1.523640
台南   -2.564229
高雄   -1.044380
dtype: float64

In [24]:
def abc(series):
    display(series)

frame.apply(abc)

台北    1.128405
台中    1.399130
台南   -0.819517
高雄   -0.786228
Name: b, dtype: float64

台北    1.021322
台中   -0.262653
台南   -1.142126
高雄   -1.110810
Name: d, dtype: float64

台北   -1.403477
台中    0.387163
台南   -0.602586
高雄    0.852658
Name: e, dtype: float64

b    None
d    None
e    None
dtype: object

In [25]:
def abc(series):
    display(series)

frame.apply(abc,axis=1)

b    1.128405
d    1.021322
e   -1.403477
Name: 台北, dtype: float64

b    1.399130
d   -0.262653
e    0.387163
Name: 台中, dtype: float64

b   -0.819517
d   -1.142126
e   -0.602586
Name: 台南, dtype: float64

b   -0.786228
d   -1.110810
e    0.852658
Name: 高雄, dtype: float64

台北    None
台中    None
台南    None
高雄    None
dtype: object

In [29]:
def abc(s:pd.Series)->float:
    return s.max() - s.min()

frame.apply(abc,axis=1)

台北    2.531882
台中    1.661783
台南    0.539541
高雄    1.963469
dtype: float64

In [28]:
frame.sum(axis=1)

台北    0.746250
台中    1.523640
台南   -2.564229
高雄   -1.044380
dtype: float64