In [2]:
import numpy as np
import pandas as pd

frame = pd.Series(np.random.randn(9),
                  index=[
                      ['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                      [1, 2, 3, 1, 2, 3, 1, 2, 3]
                  ])
frame

a  1   -1.968960
   2   -0.134041
   3   -0.303140
b  1    0.231787
   2   -0.942084
c  3    2.678069
   1   -1.498718
d  2   -0.298398
   3   -0.092003
dtype: float64

In [3]:
frame['b']

1    0.231787
2   -0.942084
dtype: float64

In [4]:
frame['b':'c']

b  1    0.231787
   2   -0.942084
c  3    2.678069
   1   -1.498718
dtype: float64

In [6]:
frame['b'][2]

-0.9420840479678434

In [7]:
frame.unstack()

          1         2         3
a -1.968960 -0.134041 -0.303140
b  0.231787 -0.942084       NaN
c -1.498718       NaN  2.678069
d       NaN -0.298398 -0.092003

In [8]:
frame.unstack().stack()

a  1   -1.968960
   2   -0.134041
   3   -0.303140
b  1    0.231787
   2   -0.942084
c  1   -1.498718
   3    2.678069
d  2   -0.298398
   3   -0.092003
dtype: float64