In [2]:
import numpy as np
import pandas as pd

s1 = pd.Series([0,1], index=['a','b'])
display(s1)
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
display(s2)
s3 = pd.Series([5, 6], index=['f', 'g'])
display(s3)

a    0
b    1
dtype: int64

c    2
d    3
e    4
dtype: int64

f    5
g    6
dtype: int64

In [3]:
pd.concat([s1, s2, s3])

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

In [4]:
pd.concat([s1, s2, s3],axis=1)

     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [5]:
pd.concat([s1, s2, s3], keys=['one', 'two', 'three'])

one    a    0
       b    1
two    c    2
       d    3
       e    4
three  f    5
       g    6
dtype: int64