In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.087348  0.652607
1    a  two -0.310802 -1.785455
2    b  one -0.315714 -1.055315
3    b  two -0.536863  0.600486
4    a  one -1.685885 -1.355268

In [2]:
df.groupby('key1')

In [3]:
for name,group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -0.087348  0.652607
1    a  two -0.310802 -1.785455
4    a  one -1.685885 -1.355268
b
  key1 key2     data1     data2
2    b  one -0.315714 -1.055315
3    b  two -0.536863  0.600486

In [4]:
for name,group in df.groupby(['key1','key2']):
    print(name)
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one -0.087348  0.652607
4    a  one -1.685885 -1.355268
('a', 'two')
  key1 key2     data1     data2
1    a  two -0.310802 -1.785455
('b', 'one')
  key1 key2     data1     data2
2    b  one -0.315714 -1.055315
('b', 'two')
  key1 key2     data1     data2
3    b  two -0.536863  0.600486

In [6]:
list(df.groupby('key1'))

[('a',
    key1 key2     data1     data2
  0    a  one -0.087348  0.652607
  1    a  two -0.310802 -1.785455
  4    a  one -1.685885 -1.355268),
 ('b',
    key1 key2     data1     data2
  2    b  one -0.315714 -1.055315
  3    b  two -0.536863  0.600486)]

In [8]:
dict(list(df.groupby('key1')))

{'a':   key1 key2     data1     data2
 0    a  one -0.087348  0.652607
 1    a  two -0.310802 -1.785455
 4    a  one -1.685885 -1.355268,
 'b':   key1 key2     data1     data2
 2    b  one -0.315714 -1.055315
 3    b  two -0.536863  0.600486}

In [9]:
dict(list(df.groupby('key1')))['a']

  key1 key2     data1     data2
0    a  one -0.087348  0.652607
1    a  two -0.310802 -1.785455
4    a  one -1.685885 -1.355268

In [10]:
dict(list(df.groupby('key1')))['b']

  key1 key2     data1     data2
2    b  one -0.315714 -1.055315
3    b  two -0.536863  0.600486

In [12]:
dict(list(df.groupby(['key1','key2'])))

{('a',
  'one'):   key1 key2     data1     data2
 0    a  one -0.087348  0.652607
 4    a  one -1.685885 -1.355268,
 ('a',
  'two'):   key1 key2     data1     data2
 1    a  two -0.310802 -1.785455,
 ('b',
  'one'):   key1 key2     data1     data2
 2    b  one -0.315714 -1.055315,
 ('b',
  'two'):   key1 key2     data1     data2
 3    b  two -0.536863  0.600486}

In [13]:
dict(list(df.groupby(['key1','key2'])))[('a','one')]

  key1 key2     data1     data2
0    a  one -0.087348  0.652607
4    a  one -1.685885 -1.355268

In [15]:
len(df.groupby(['key1','key2']))

4

In [16]:
len(df.groupby('key1'))

2

In [17]:
len(df.groupby('key2'))

2

In [18]:
df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.796663  0.995168
1    a  two -1.255119 -0.302241
2    b  one  0.122304  1.099834
3    b  two -0.272533  0.632652
4    a  one  2.076236 -0.472402

In [20]:
grouped = df.groupby('key1')
len(grouped)

2

In [21]:
dict(list(grouped))

{'a':   key1 key2     data1     data2
 0    a  one  0.796663  0.995168
 1    a  two -1.255119 -0.302241
 4    a  one  2.076236 -0.472402,
 'b':   key1 key2     data1     data2
 2    b  one  0.122304  1.099834
 3    b  two -0.272533  0.632652}

In [23]:
grouped['data1'].mean()

key1
a    0.539260
b   -0.075114
Name: data1, dtype: float64

In [24]:
grouped['data1'].agg(['mean','sum','max','min'])

          mean       sum       max       min
key1
a     0.539260  1.617781  2.076236 -1.255119
b    -0.075114 -0.150229  0.122304 -0.272533

In [28]:
grouped['data1'].agg([('平均','mean'),('加總','sum'),'max','min'])

            平均        加總       max       min
key1
a     0.539260  1.617781  2.076236 -1.255119
b    -0.075114 -0.150229  0.122304 -0.272533