In [2]:
import pandas as pd

#手動dict建立DataFrame
pd.DataFrame({"徐xx":[67, 92, 82],
              "張xx":[98, 78, 69],
              "王xx":[76, 65, 83]},index=['國文','英文','數學'])

    徐xx  張xx  王xx
國文   67   98   76
英文   92   78   65
數學   82   69   83

In [3]:
#手動2維list建立DataFrame
pd.DataFrame([[67, 98, 76],
              [92, 78, 65],
              [82, 69, 83]],index=['國文','英文','數學'],columns=['徐xx','張xx','王xx'])

    徐xx  張xx  王xx
國文   67   98   76
英文   92   78   65
數學   82   69   83

In [5]:
#手動2維list建立DataFrame
pd.DataFrame([{"徐xx":67,'張xx':98,'王xx':76},
              {"徐xx":67,'張xx':98,'王xx':76},
              {"徐xx":67,'張xx':98,'王xx':76}
              ],index=['國文','英文','數學'])

    徐xx  張xx  王xx
國文   67   98   76
英文   67   98   76
數學   67   98   76