In [2]:
#sequence
letters = 'Hello World'

In [9]:
#subscript
#index
letters[0] ,letters[-1] ,letters[10]

('H', 'd', 'd')

In [14]:
#slice
#切割
letters[:5],letters[-5:],letters[:]

('Hello', 'World', 'Hello World')

In [16]:
#iterable
for word in letters:
    print(word,end='-')

H-e-l-l-o- -W-o-r-l-d-

In [17]:
for t in enumerate(letters):
    print(t)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'W')
(7, 'o')
(8, 'r')
(9, 'l')
(10, 'd')

In [18]:
type(letters)

str

In [23]:
city = 'taipei'
city.capitalize(), city.upper(), city.lower()

('Taipei', 'TAIPEI', 'taipei')

In [27]:
num:int = 100
num.as_integer_ratio()

(100, 1)

In [30]:
#字串取代
name = "Henny"
name = name.replace('H','P')
name

'Penny'

In [32]:
name1 = "Henny"
name1 = "P" + name1[1:]
name1

'Penny'

In [35]:
str1 = "this is Python Tutorial, there"
display(str1.find("Python"))
str1.find("not")

8

-1

In [38]:
#in運算子
#not in
display("Python" in str1)
display("not" in str1)
display("not" not in str1)

True

False

True

In [41]:
#str實體方法()
#join()
#split()

"-".join("Hello"), "-".join(("1","2","3","4","5"))

('H-e-l-l-o', '1-2-3-4-5')

In [42]:
"Hello! World!".split(" ")

['Hello!', 'World!']