In [1]:
import numpy as np
import pandas as pd

se1 = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
se1

d    0
a    1
b    2
c    3
dtype: int64

In [2]:
se1.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [3]:
se1.sort_index(ascending=False)

d    0
c    3
b    2
a    1
dtype: int64

In [4]:
frame = pd.DataFrame(np.arange(8).reshape((2,4)),
             index=["three", "one"],
             columns=['d','a','b','c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [5]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [7]:
frame.sort_index(axis=1,ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5