In [1]:
import numpy as np
import pandas as pd

url = 'https://raw.githubusercontent.com/roberthsu2003/PythonForDataAnalysis/master/%E6%95%B8%E6%93%9A%E6%95%B4%E7%90%86_%E9%80%A3%E6%8E%A5_%E5%90%88%E4%BD%B5_%E9%87%8D%E5%A1%91/%E5%90%84%E9%84%89%E9%8E%AE%E5%B8%82%E5%8D%80%E4%BA%BA%E5%8F%A3%E5%AF%86%E5%BA%A6.csv'
dataFrame = pd.read_csv(url,encoding='utf-8')
dataFrame

,statistic_yyy,site_id,people_total,area,population_density
0,統計年,區域別,年底人口數,土地面積,人口密度
1,106,新北市板橋區,551480,23.1373,23835
2,106,新北市三重區,387484,16.317,23747
3,106,新北市中和區,413590,20.144,20532
4,106,新北市永和區,222585,5.7138,38956
...,...,...,...,...,...
371,NaN,NaN,NaN,NaN,NaN
372,NaN,說明：1.人口密度係指每單位土地面積內之人口數。,NaN,NaN,NaN
373,NaN,2.96年12月起，我國土地面積增列東沙群島(2.38平方公里)及南沙群島(0.4896平方公里),NaN,NaN,NaN
374,NaN,，由高雄市代管；原金門縣烏坵鄉面積，因重測由2.6平方公里修正為1.2平方公里。,NaN,NaN,NaN
375,NaN,3.104年12月南沙太平島交通基礎整建工程竣工，增加面積0.0149平方公里。,NaN,NaN,NaN

In [6]:
dataFrame.columns = dataFrame.iloc[0]
dataFrame1 = dataFrame.drop([0])
dataFrame2 = dataFrame1.iloc[:-5]
dataFrame2

0    統計年     區域別   年底人口數     土地面積   人口密度
1    106  新北市板橋區  551480  23.1373  23835
2    106  新北市三重區  387484   16.317  23747
3    106  新北市中和區  413590   20.144  20532
4    106  新北市永和區  222585   5.7138  38956
5    106  新北市新莊區  416524  19.7383  21102
..   ...     ...     ...      ...    ...
366  106  連江縣北竿鄉    2360      9.9    238
367  106  連江縣莒光鄉    1624      4.7    145
368  106  連江縣東引鄉    1352      3.8    250
369  106    東沙群島      …      2.38     …
370  106    南沙群島      …    0.5045     …

[370 rows x 5 columns]

In [8]:
#請取出 新北市中和區,新北市新莊區,嘉義縣水上鄉,臺東縣池上鄉,花蓮縣玉里鎮
data1 = dataFrame.query('區域別=="新北市中和區"')
data1

0  統計年     區域別   年底人口數    土地面積   人口密度
3  106  新北市中和區  413590  20.144  20532

In [9]:
data2 = dataFrame.query('區域別=="新北市新莊區"')
data2

0  統計年     區域別   年底人口數     土地面積   人口密度
5  106  新北市新莊區  416524  19.7383  21102

In [10]:
data3 = dataFrame.query('區域別=="嘉義縣水上鄉"')
data3

0    統計年     區域別  年底人口數     土地面積 人口密度
272  106  嘉義縣水上鄉  49744  69.1198  720

In [11]:
data4 = dataFrame.query('區域別=="臺東縣池上鄉"')
data4

0    統計年     區域別 年底人口數     土地面積 人口密度
321  106  臺東縣池上鄉  8248  82.6854  100

In [12]:
data5 = dataFrame.query('區域別=="花蓮縣玉里鎮"')
data5

0    統計年     區域別  年底人口數      土地面積 人口密度
330  106  花蓮縣玉里鎮  24345  252.3719   96

In [13]:
pd.concat([data1,data2,data3,data4,data5])

0    統計年     區域別   年底人口數      土地面積   人口密度
3    106  新北市中和區  413590    20.144  20532
5    106  新北市新莊區  416524   19.7383  21102
272  106  嘉義縣水上鄉   49744   69.1198    720
321  106  臺東縣池上鄉    8248   82.6854    100
330  106  花蓮縣玉里鎮   24345  252.3719     96