In [8]:
import numpy as np
import pandas as pd

string_data = pd.Series(['板橋區', '中和區', np.nan, '土城區'])
string_data.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4 entries, 0 to 3
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      object
dtypes: object(1)
memory usage: 160.0+ bytes

In [2]:
#isnull()
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [3]:
string_data.notnull()

0     True
1     True
2    False
3     True
dtype: bool

In [4]:
string_data[string_data.notnull()]

0    板橋區
1    中和區
3    土城區
dtype: object

In [6]:
string_data.dropna()

0    板橋區
1    中和區
3    土城區
dtype: object

In [28]:

data = pd.DataFrame([[1., 6.5, 3.],
                    [1., None, None],
                    [None, None, None],
                    [None, 6.5, 3.]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [29]:
data.dropna()

     0    1    2
0  1.0  6.5  3.0

In [30]:
data.fillna(0)

     0    1    2
0  1.0  6.5  3.0
1  1.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  6.5  3.0

In [33]:
def check(v:float)->float: 
    if np.isnan(v):
        return 0
    return v

data.map(check)

     0    1    2
0  1.0  6.5  3.0
1  1.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  6.5  3.0