In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.087348  0.652607
1    a  two -0.310802 -1.785455
2    b  one -0.315714 -1.055315
3    b  two -0.536863  0.600486
4    a  one -1.685885 -1.355268

In [2]:
df.groupby('key1')

In [3]:
for name,group in df.groupby('key1'):
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -0.087348  0.652607
1    a  two -0.310802 -1.785455
4    a  one -1.685885 -1.355268
b
  key1 key2     data1     data2
2    b  one -0.315714 -1.055315
3    b  two -0.536863  0.600486

In [4]:
for name,group in df.groupby(['key1','key2']):
    print(name)
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one -0.087348  0.652607
4    a  one -1.685885 -1.355268
('a', 'two')
  key1 key2     data1     data2
1    a  two -0.310802 -1.785455
('b', 'one')
  key1 key2     data1     data2
2    b  one -0.315714 -1.055315
('b', 'two')
  key1 key2     data1     data2
3    b  two -0.536863  0.600486

In [6]:
list(df.groupby('key1'))

[('a',
    key1 key2     data1     data2
  0    a  one -0.087348  0.652607
  1    a  two -0.310802 -1.785455
  4    a  one -1.685885 -1.355268),
 ('b',
    key1 key2     data1     data2
  2    b  one -0.315714 -1.055315
  3    b  two -0.536863  0.600486)]

In [8]:
dict(list(df.groupby('key1')))

{'a':   key1 key2     data1     data2
 0    a  one -0.087348  0.652607
 1    a  two -0.310802 -1.785455
 4    a  one -1.685885 -1.355268,
 'b':   key1 key2     data1     data2
 2    b  one -0.315714 -1.055315
 3    b  two -0.536863  0.600486}

In [9]:
dict(list(df.groupby('key1')))['a']

  key1 key2     data1     data2
0    a  one -0.087348  0.652607
1    a  two -0.310802 -1.785455
4    a  one -1.685885 -1.355268

In [10]:
dict(list(df.groupby('key1')))['b']

  key1 key2     data1     data2
2    b  one -0.315714 -1.055315
3    b  two -0.536863  0.600486

In [12]:
dict(list(df.groupby(['key1','key2'])))

{('a',
  'one'):   key1 key2     data1     data2
 0    a  one -0.087348  0.652607
 4    a  one -1.685885 -1.355268,
 ('a',
  'two'):   key1 key2     data1     data2
 1    a  two -0.310802 -1.785455,
 ('b',
  'one'):   key1 key2     data1     data2
 2    b  one -0.315714 -1.055315,
 ('b',
  'two'):   key1 key2     data1     data2
 3    b  two -0.536863  0.600486}

In [13]:
dict(list(df.groupby(['key1','key2'])))[('a','one')]

  key1 key2     data1     data2
0    a  one -0.087348  0.652607
4    a  one -1.685885 -1.355268